.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.content {
  position: absolute;
  opacity: 0;
  padding: 3rem;
  background: rgba(0, 0, 0, 1);
  animation: slide-up;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes slide-up {
  100% {
    visibility: visible;
  }
}

@media screen and (max-width: 1536px) {
  .content {
    width: 80%;
  }
}

.content {
  color: #fff;
  display: flex;
}

.content img {
  width: 250px;
  height: 150px;
  margin-right: 50px;
}

.current .content {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

.title {
  border: white solid 2px;
}
