.seoulSubwayContainer {
  position: absolute;
}

.lineContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.stationNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 3px solid gray;
  font-size: 1.5em;
  padding: 0 48px;
}

.sideStationContainer {
  display: flex;
  flex: 1;
  border-radius: 20px;
  padding: 0 18px;
  height: 24px;
  width: 240px;
}

.timeContainer {
  display: flex;
  flex-direction: row;
  color: white;
}

.time {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
}
