@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

.toDo {
  background: #091921;
  margin: 17px 0;
  padding: 4px;
  border-radius: 5px;
  font-size: 2em;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 -5px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);

  border: 2px solid rgb(44, 96, 194);
  color: white;
  font-family: "Gamja Flower", cursive;
}
