body {
  color: white;
  font-weight: 600;
}

.weatherContainer {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  /* 낮 */
  /* background: linear-gradient(to bottom, rgb(0, 105, 255), rgb(35, 150, 250)); */
  /* 오후 */
  background: linear-gradient(to bottom, rgb(25, 70, 135), rgb(128, 160, 205));
  text-align: center;
}

.topInfo {
  display: flex;
  justify-content: space-between;
}

.bottomInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weatherBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topLeftInfo {
  display: flex;
  flex-direction: column;
}

.city {
  font-size: 1.8em;
  font-weight: 600;
  padding: 5px;
}

.temp {
  font-size: 2.5em;
}

.topRightInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.weatherIcon {
  width: 36px;
  height: 36px;
  padding: 5px;
  color: white;
}
